<ng-container [ngSwitch]="mode">
  <div *ngSwitchDefault>
    <dl [title]="playlist.name" [attr.data-id]="playlist.id">
      <dt>Name:</dt>
      <dd>{{ playlist.name }}</dd>

      <dt>Favourite</dt>
      <dd>{{ playlist.favourite ? "Yes" : "No" }}</dd>

      <dt>Color</dt>
      <dd
        [style.color]="playlist.color"
        [ngStyle]="{
          backgroundColor: playlist.color
        }"
      >
        {{ playlist.color }}
      </dd>
    </dl>

    <input type="button" value="Edit" (click)="edit()" class="btn btn-info" />
  </div>

  <div *ngSwitchCase="'edit'">

    <form #formRef="ngForm" 
          (ngSubmit)="save(formRef)">

      <div class="form-group">
        <label>Name:</label>
        <input
          type="text"
          class="form-control"
          [ngModel]="playlist.name"
          name="name"
        />
      </div>

      <div class="form-group">
        <label>Favourite:</label>
        <input
          type="checkbox"
          [ngModel]="playlist.favourite"
          name="favourite"
        />
      </div>

      <div class="form-group">
        <label>Color:</label>
        <input type="color" [ngModel]="playlist.color" name="color" />
      </div>

      <input
        type="button"
        value="Cancel"
        (click)="cancel()"
        class="btn btn-danger"
      />
      <input type="submit" value="Save" 
      class="btn btn-success" />
    </form>
  </div>
</ng-container>
