<!-- .row>.col*2 -->

<div class="row">
  <div class="col">
    <app-items-list
      [items]="playlists"
      [selected]="selected"
      (selectedChange)="selected = $event"
    >
    </app-items-list>
  </div>

  <div class="col">
    <app-playlist-details 
        (playlistChange)="save($event)"
        [playlist]="selected">
    </app-playlist-details>
  </div>
</div>
